.headers{
    background-color: rgb(20,20,20);
    color: whitesmoke;
    margin-bottom: 0px;
}

.header-row{
    width: 100%;
}

.radio-container{
    background-color:rgb(60,60,60);
}

.radio-container>label{

    color: whitesmoke;
    font-weight: normal;

}